<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelphiDilemma</title>
    <link rel="stylesheet" href="css/aboutUs.css">
</head>
<body>
    <%- include("./nav") %> 
    <!--navbar-->

    <!--mainContent-->
   <div class="content">
    <h1>Enzo Hingst e Caio Fernandes</h1>
    <p> <strong>Turma 354</strong></p>
    <br><BR> <!--leva para a tela de login caso nao esteja logado, caso contrário, leva para graphs.html-->
</div>
<!--mainContent-->
</body>
</html>