<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelphiDilemma</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>

    <%- include("./nav") %>
    <!--navbar-->

    <!--mainContent-->

   <div class="content">
        <h1>The Delphi Dilemma</h1>
        <p> <strong>Which side are you on? Choose your side!</strong></p>
        <br><BR>
       <a href="/login"><button>Choose side</button></a> <!--leva para a tela de login caso nao esteja logado, caso contrário, leva para graphs.html-->
   </div>
   <!--mainContent-->

</body>
</html>