<header class="header">
    <div class="logo-container">
        <a href="/graphs"><img class="logo" src="../img/delphi-logo-1024.png"></a>
        <a href="/graphs" class="logoTitle">The Delphi Dilemma</a>
    </div>
<nav class="navbar">
    <a href="/profile">Profile</a>
    <a href="/aboutUs">About us</a>
    <a href="/graphs">Graphs</a>
</nav>
</header>