<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelphiDilemma</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include("./nav") %>
    <!--navbar-->

    <!--mainContent-->

   <div class="content">
        <h1>You need to log in for voting</h1>
        <br><BR>
       <a href="/login"><button>Login</button></a>
   </div>
   <!--mainContent-->

</body>
</html>