<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelphiDilemma</title>
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <%- include("./nav") %>
    <!--navbar-->

    <!--profile-->
    <div class="profileBox">
        <form>
            <img src="img/044960ceb389aa1c32ca024ee774e12a.jpg">
            <h1>username</h1>
            <BR>
            <p>emailbacana@gmail.com</p>
            <BR>
            <a href="/edit/:id">edit profile</a> 
            <a href="/">log off</a>  <!--desconecta da conta e volta pra home-->
        </form>
</body>

</html>